body{
    font-family: arial,sans serif;
}
.container{
   width: 920px;

}

header{
 height: 160px;
}
header h1{
float: left;
margin-top: 20px;
margin-left: 30px;
}
header h2{
float: right;
margin-top: 30px;
margin-right: 40px;
}

header nav{
   float: right;
   margin-top: 30px;
   border: 50px;
}
header nav hr{
   width: 650px;
   padding: 30px auto;
}
header nav ul li{
   display: inline-block;
} 
header nav ul li a{
   text-transform: uppercase;
   font-weight: bold;
   margin-right: 20px;
   color:black;
   text-decoration: none;
}

header ul li a:hover{
    background: chartreuse;
    color: white;
    padding: 10px 20px 20px 15px;
}
.ma{
    display: flex;
    margin-top: 75px;
}
.estel{
background: whitesmoke;
width: 700px;
} 

h2{
   color:orange;
   text-align: center;
    display: flex;
    flex-direction: column;
}
form{
   display: flex;
   flex-direction: column;
   background: whitesmoke;
   width: 700px;
   text-align: center;
   margin-right: 15px;
} 

label{
   margin-bottom: 5px; 
   font-size: 15px;
   border: none;
}
input{
   border-radius: 9px;
   padding: 15px;
   width: 350px;
   border: 1px;
   margin-left:150px ;
}
button{
   background: chartreuse;
   color: white;
   border-radius: 9px;
   cursor: pointer;
   margin-bottom: 25px;
   width: 80px;
   margin-top: 55px;
   margin-left: 150px;
   border: none;
   padding: 15px 65px 15px 45px;
    text-align: center;
}
.belle{
   display: flex;
   margin-top: 75px;
}
h3{
      color:orange;
      text-align: center;
       display: flex;
       flex-direction: column;
   }
   .franck{
      background: whitesmoke;
   }
   select{
      border-radius: 9px;
      padding: 15px;
      width: 350px;
      border: 1px;
      margin-left:150px ;
   }
   .pied{
      display: flex;
      text-align: center;
      margin-top: 45px;
      margin-right: 10px;
   }
  
    .part1{
      display: flex;
      text-align: center;
      padding-right:150px;
      padding-top: 150px;
      background: chartreuse;
      gap: 25px;
      width: 850px;
      color: white;
   }
   .part2{
      background:whitesmoke ;
      width: 850px; display: flex;
      flex-direction: column;
   } 
   .rog{
     background: black;
     color: white;
     font-size: 5px;
   }